<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/pokestyle.css" media="screen" title="no title">
<title>Pokenatra</title>
</head>

<body>
<h1> <a href = '/pokemons'>Pokenatra</a> </h1>
<%= yield %>
</body>

</html>
